<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Magic cards</title>
    <link rel="stylesheet" type="text/css" href="public/css/styles.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body class="bg-image container-center">
    <img src="" />

    <script src="public/js/sparkle.min.js"></script>
    <script>
     window.onload = event => {
       const sparkle = new Sparkle(document.body)
       sparkle.start()

       window.addEventListener('resize', event => {
         sparkle.resize()
       })
     }
    </script>
  </body>
</html>
