<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>secret</title>
    <link rel="stylesheet" href="public/css/styles.min.css">
  </head>

  <body>
    <form action='/secret' method='post'>
      <div class="container">
        <div class="left">
          <div><label>Имя:</label></div>
          <div><label>Ранг:</label></div>
          <div><label>Масть:</label></div>
        </div>
        <div class="right">
          <div>
            <input type="text" name="name">
          </div>
          <div>
            <select name="rank">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="jack">валет</option>
              <option value="queen">королева</option>
              <option value="king">король</option>
              <option value="ace">туз</option>
            </select>
          </div>
          <div>
            <select name="suit">
              <option value="clubs">крести</option>
              <option value="spades">пики</option>
              <option value="diamonds">буби</option>
              <option value="hearts">черви</option>
            </select>
          </div>
          <div style="margin-top: 8px">
            <button type="submit">Отправить</button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
